@font-face {
  font-family: MainRegularFont;
  src: url(./assets/fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: MainMediumFont;
  src: url(./assets/fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: MainSemiBoldFont;
  src: url(./assets/fonts/SpaceGrotesk-SemiBold.ttf);
}

:root {
  font-family: var(--main-font-reg), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #ebf6fa;
  color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-font-reg: MainRegularFont, sans-serif;
  --main-font-med: MainMediumFont, sans-serif;
  --main-font-bold: MainSemiBoldFont, sans-serif;

  font-size: 16px;
}

body {
  margin: 0;
}

.MuiTypography-root {
  font-family: var(--main-font-bold);
}
